CHAT_IDS=-1001955738887
JOURNAL_CHAT_ID=-1001955738887
PYTHONUNBUFFERED=1
DATASET_PATH=bot-telegram/DATA.TXT
TOKEN=8312758421:AAESZnp9E1w-4CXeb6PaFoTRw6ZWwqLKbLA
CHANNEL_ID=-1001822976298


# Ничего из вышеперечисленного заключать в кавычки не нужно!
